body {
    background-color: #f4f6f8;
    color: #333;
    font-family: Segoe UI, Arial, sans-serif;
    margin: 40px;
}
h1, h2 {
    color: #0078D4; /* Microsoft Azure Blau */
}
a {
    color: #0078D4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Navbar Style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0a0a0a;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00aaff;
}